* {
    margin: 0;
    padding: 0;
}

html, body, app-root {
    min-height: 100vh;
}

app-root {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas: 
    'nav nav nav'
    'izq main der'
    'footer footer footer';
}

app-nav {
    grid-area: nav;
}

app-home, app-about {
    grid-area: main;
}

app-footer {
    grid-area: footer;
}

router-outlet {
    display: none;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
